<!DOCTYPE html>
<html>
<head>
<title>My webpage</title>
<meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<link rel="stylesheet" type="text/css" href="/public/assets/css/mystyle.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/assets/js/myscript.js"></script>
</head>
<body>

<div class="video">
<video id="myVideo" autoplay loop playsinline controls>
  <source src="/public/assets/images/20221117_125047.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>

<form action='bird/' class="insert_comment_form">
  <button type="submit" value="add"><i class="fa-solid fa-plus"></i></i></button>
  <textarea id="comment"  placeholder="Enter comment..." ></textarea>
</form>
<div id="delete_update_comments_div">

</div>

</body>
</html>
