<!DOCTYPE html>
<html>
<head>
<title>My webpage</title>
<meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<link rel="stylesheet" type="text/css" href="/public/assets/css/mystyle.css">


</head>
<body>

<div id="videoList">

</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/assets/js/home.js"></script>
</body>
</html>
