.video {
  height : 80vh;
  text-align: center;
  box-sizing: content-box;

}

.video video {
  height : 100%;
}

.insert_comment_form, .delete_update_comments_form {
  width: 100%;
  margin: 1em 0;
}

 textarea {
  resize: none;
  margin: 0;
  overflow: hidden;
  display:block;
  width:100%;
  font-size: 1.6rem;
  padding: 1em 1em;
  box-sizing: border-box;
}

.displaynone {
  display:none;
}

#delete_update_comments_div > div  {
  margin: 1em 1em;
  border-radius: 5px;
  border: thin solid black;
  background: #edba76;
}

 #videoList > div {
  height: 80vh;
  margin : 1em 0;
  /* text-align: center; */
}

/* text-align:center and margin: 0 auto = both center the content */
#videoList  video {
 height:100%;
 opacity : 1;
 display: block;
 margin: 0 auto;
 object-fit: cover;
}

#videoList > video:hover {
 opacity : .8;
}

.fa-solid {
  font-size: 3em;

}
