html {
  --width : 80%;
  --ratio : 1.2;
}

@media screen and (min-width: 769px)  {
  html {
    --width : 400px;
    --ratio : 1.2;
  }
}

video {
  box-shadow: 0 0 5px rgba(0,0,0,.2) !important;
  opacity : 0.9;
  transition: opacity 0.3s ease-in-out;
}

video:hover {
  opacity: 1;
}

div.video {
  width : calc(var(--width));
  height: 0px;
  position: relative;
  /* padding is % of width 70*3/2. 3/2 is the aspect ratio of video on phone */
  padding-top: calc(var(--width)*var(--ratio));
  margin: 2em auto;
}

div.video video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.insert_comment_form, .delete_update_comments_form {
  width: 100%;
  margin: 1em 0;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

 textarea {
  resize: none;
  margin: 0;
  overflow: hidden;
  display:block;
  width:100%;
  font-size: 1.6rem;
  padding: 1em 1em;
  box-sizing: border-box;
  border : 0;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

textarea:hover {
  background-color : #eee;
}

.displaynone {
  display:none;
}

#delete_update_comments_div > div  {
  margin: 1em 1em;
  border-radius: 5px;
  /* border: thin solid black; */
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

 div#videoList > div {
  width : calc(var(--width));
  height: 0px;
  position: relative;
  /* padding is % of width 70*3/2. 3/2 is the aspect ratio of video on phone */
  padding-top: calc(var(--width)*var(--ratio));
  margin: 20px auto;
}

/* text-align:center and margin: 0 auto = both center the content */
/* object-fit property for replaced elements similiar to box-sizing for normal elements */
#videoList  video {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 /* display: block;
 margin: 0 auto; */
 /* object-fit: cover; */
}

button:has( ~ textarea) {
  display:none;
}

button:has( ~ textarea:focus)  {
  display: inline;
}

.fa-solid {
  font-size: 3em;
}
